# URL de l'API Django (machine hôte)
# Émulateur Android : par défaut http://10.0.2.2:8000
# Appareil physique : IP du PC, ex. http://192.168.1.42:8000
# IMPORTANT : deux slash après http → http://
# Téléphone réel : IP du PC (ip a ou hostname -I)
EXPO_PUBLIC_API_URL=http://192.168.88.102:8000

# Émulateur Android uniquement :
# EXPO_PUBLIC_API_URL=http://10.0.2.2:8000
